venv
__pycache__
.idea
video_output
audio.wav
/keyboard_output.txt
/mouse_output.txt
/vpt-audio.wav
/vpt-keyboard.txt
/vpt-mouse.txt
# Different platforms have different dependencies, so lockfile is OS-dependent. Thus, do not commit it.
Pipfile.lock