# Virtual environments
venv
.venv

# Cache
__pycache__

# IDEs
.idea

# Test output
video_output
audio.wav
/keyboard_output.txt
/mouse_output.txt
/vpt-audio.wav
/vpt-keyboard.txt
/vpt-mouse.txt

# PyInstaller
*.spec
build
dist

# Data
data
